.Docs/* linguist-documentation
.Floppies/* -linguist-vendored
.Fonts/* -linguist-vendored
.Tools/* -linguist-vendored
_Pics/* -linguist-vendored
.screen-shots/* -linguist-vendored
ADMIN/* -linguist-vendored
EXAMPLES/* -linguist-vendored
MAKE/* -linguist-vendored
TESTS/* -linguist-vendored
