NEW
  AUTO 3,1
@font-face { 
	font-family: "ScanLines";
	src: url('scanlines.otf') format('truetype');
	}
body {
	font-family: "ScanLines";
	background-color: black;
	}
h1 { 
	font-family: "ScanLines";
	color: #000000;
	background-color: #00ff00;
	}
h2 { 
	font-family: "ScanLines";
	color: #00ff00;
	}
h3 { 
	font-family: "ScanLines";
	color: #00ff00;
	}
p { 
	font-family: "ScanLines";
	color: #00ff00;
	}
MAN
TEXT srv/www/style.css
